<form  fxLayoutAlign="center center">
  <input class="a" type="search" placeholder="Search">
</form>
<div class="welcome" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center center">
    <section>
      <mat-icon style="width: 27.39px; height: 27.48px;">card_giftcard</mat-icon><br>
      <span>Material</span>
    </section>
    <section>
      <mat-icon style="width: 27.39px; height: 27.48px;"  svgIcon="c"></mat-icon><br>
      <span>Tools</span>
    </section>
    <section>
      <mat-icon style="width: 27.39px; height: 27.48px;" svgIcon="b"></mat-icon>
      <br>  <span>Fitting</span>
    </section>
    <section>
        <mat-icon style="width: 27.39px; height: 27.48px;" svgIcon="a"></mat-icon>
        <br><span>Others</span>
      </section>
  </div>
  